@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&family=Oxanium:wght@400;700&family=Rajdhani:wght@400;700&family=Exo+2:wght@400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right,   #00246B, #CADCFC);
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 30px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    margin-top: -30px;
    font-family: Oxanium;
}

div {
    margin: 15px;
}

button {
    background: transparent;
    color: white;
    font-size: 1.3rem;
    padding: 12px 25px;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Rajdhani;
}

button:hover {
    background: white;
    color: #243B55;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

input {
    width: 250px;
    padding: 12px;
    font-size: 1.2rem;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 25px;
    text-align: center;
    outline: none;
    margin-bottom: 15px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:focus {
    border-color: #00c6ff;
    box-shadow: 0 0 10px rgba(0, 198, 255, 0.5);
}

a {
    color: #00c6ff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
